.card {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%
        /* background-color: #f7f7f7; */
}

.p-inputgroup {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    margin-right: 1em;
    width: 80%;
}

button {
    width: 3em;
    background-color: var(--primary-color) !important;
    color: var(--accent-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    justify-self: center;
}