.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    justify-self: center;
    object-fit: cover;
}

img {
    height: 450px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    image-rendering: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    img {
        width: 100%;
        /* Ajusta a altura para telas menores */
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-self: center;
    }
}