.card {
    color: var(--text-color)
}

.title {
    font-size: 1em;
    color: var(--text-color);
}

.pi {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .pi {
        font-size: 1em;
    }
}

:host {
    --p-menubar-background: var(--primary-color);
    --p-menubar-submenu-background: var(--primary-color);
    --p-menubar-item-focus-background: var(--hover-item-navbar-color);
    --p-menubar-mobile-button-hover-background: var(--hover-item-navbar-color);
    --text-color: #FFF;
    --p-menubar-color: #FFFFFF;
    --p-menubar-item-color: #1A2B3C;
    --p-menubar-item-focus-color: #FFFF;
}