.title {
    font-size: 1em;
}

.custom-menubar {
    background-color: var(--p-menubar-background);
}

.pi {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .pi {
        font-size: 1em;
    }
}