app-banner,
app-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

section span,
span {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.card-list {
    width: 100%;
}

.card {
    margin-top: 2em;
}

.area-of-​​advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.item-area-of-​​advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .area-of-​​advantages {
        flex-direction: column;
    }
}