<div class="container">
    <div class="column">
        <span>Categorias</span>
        <p>Produtos</p>
        <p>Quem Somos</p>
        <p>Contato</p>
        <p>Política de Garantia</p>
    </div>
    <div class="column">
        <span>Central de Atentimento</span>
        <div class="row phone">
            <i class="pi pi-phone" style="margin-right: 0.5em;"></i>
            <a target="_blank" style="color: var(--text-color); text-decoration: none;">(11) 3003-9999</a>
        </div>
        <div class="row">
            <i class="pi pi-whatsapp" style="margin-right: 0.5em;"></i>
            <a href="https://wa.me/5511999999999" target="_blank"
                style="color: var(--text-color); text-decoration: none;">(11)
                99999-9999</a>
        </div>
        <div class="row">
            <i class="pi pi-envelope" style="margin-right: 0.5em;"></i>
            <a href="mailto:contato@tecnologiadevalor.com" target="_blank"
                style="color: var(--text-color); text-decoration: none;">{{emailContact}}</a>
        </div>

    </div>
    <div class="column">
        <span>Formas de pagamento</span>
    </div>
    <div class="column">
        <span>Receba novidades e promoções</span>
    </div>
</div>